name: renovate
on:
  schedule:
    - cron: '30 10 * * *'
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: Renovate Bot GitHub Action
        uses: renovatebot/github-action@v44.0.5
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          LOG_LEVEL: 'debug'
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
